.body{
	background: #edeaea;
}

.caption{
	color: #FFFFFF;
}

.tabletext{
	font-size: 12px;
}

.tablealign{
	text-align: center;
}


.sectioncolourone {
		background-image: url('city.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		opacity: 0.5;
		padding-top: 120px;
		padding-bottom: 40px;
}

.sectioncolourtwo {
		background-color: #FFFFFF;
		padding-top: 30px;
		padding-bottom: 10px;
}
	
.toppadding {
	padding-top: 90px;
}

.posttitle {
	color: #2C3E50
}	

.postdate {
	color: #6f9fce
}

.border {
	border-bottom: 1px solid #efeaea;
}

.map {
   height: 400px;
   width: 100%;
 }

.my-navbar {
	padding-bottom:8px;
	padding-top:8px
}

.navbar-inverse{
	background-color: #2C3E50;
}

.navbar-inverse .navbar-brand{
	font-size: 28px;
	color: #efeaea
	}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color: #FF8C00
}
	
.my-navbar .navbar-nav{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF 	!important;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: #FF8C00 	!important;
}

.footer-text{
	font-size: 10px;
}

.footer-distributed{
	background-color: #2C3E50;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 10px 15px;
	margin-top: 80px;
	color: #FFFFFF;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
